
#map {
    height: 0%;
    width: 0%;
}





html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: deepskyblue;
    font-size: 80%;
}

#whiteContainer {
    width: 100%;
    position: absolute;   
    background-color: aliceblue;
}

#contentContainerInner {
    width: 95%;
}

hr {
    width: 30%;
}

#btn {
    width: 90%;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

#btn:hover {
    background-color: darkorange;
    cursor: pointer;
}

#errorNoInputText {
    font-size: 90%;
    color: red;
    padding: 5px;
}

#cityInput {
    padding: 5px;
    border-radius: 5px;
    width: 95%;
    font-size: 20px;
    font-family: 'Montserrat';
}

#whereAreYouTable {
    width: 95%;

}

#whereAreYouCell {
    min-width: 100px;
    vertical-align: middle;
}

#cityInputCell {

    align-content: right;
}

#resultMap {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 500px) {
    /* Settings for things larger than phones */
    #btn {
        width: 30%;
    }
    
    #whereAreYouTable {
    width: 33%;
}
    html, body {
            font-size: 100%;
    }
}